**/dist/
**/dist-*/
**/cabal-dev/
**/.stack-work/
**/.hpc/
**/.hsenv/
**/.HTF/
**/.ghc.environment.*

**/*.o
**/*.hi
**/*.hie
**/*.chi
**/*.chs.h
**/*.dyn_o
**/*.dyn_hi

**/*.prof
**/*.aux
**/*.hp
**/*.eventlog

**/.cabal-sandbox/
**/cabal.sandbox.config
**/cabal.project.local
**/cabal.project.local~

**/.stack-work/

*~
